<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>날씨요정</title>
</head>
<body>
    <div>
        <h1 style="display: inline-block"><a href="/">This web page</a> is only for people who love</h1> <h1 style="color:pink; display: inline-block;">Jeju trip</h1>
    </div> 
    <div>
        <img src="https://ww.namu.la/s/b8d686cd9c35225957c823ad209dfc4da13fef8ce358835b3e3cff0335bb1cbe6c52f956404911f9a05b96b827cd4a495bbe2408a0165c5b4bf70dd434af8cd00a89d98ff604549b5213842d11006bd52b0e85b18484f3a9123439366ca1aad8dda89d911150a6b4d6041902d755ffe7">
    </div>
    <div>

        <a href="register">
            REGIST
        </a>
        <br></br>
        <a href="login">
            LOGIN
        </a>
    </div>
</body>
</html>